@import "./variable_overrides";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
}

fieldset {
  border: none;
  margin-top: 1rem;
}

legend {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0 !important;
}

label {
  margin-bottom: 0 !important;
}

button:focus {
  outline: 2px dotted fade-out($brand-primary, .5) !important;
  outline: none !important;
}

mark {
  padding: 0;
}

.text-lighter {
  color: $gray;
}

.centered {
  display: block;
  margin: auto;
}

.plain-header {
  font-family: $font-family-sans-serif;
}
//used for layout on multiple pages

.centered-component {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.invite-container {
  @extend .responsive-flex;
  min-height: 100vh;
}

.invite-container main {
  flex-grow: 1;
  @include media-breakpoint-down(sm) {
    margin: 0 1rem;
  }
}
$sidebarColor: #fff;

.sidebar {
  padding: 1rem;
  background: $sidebarColor;

  @include media-breakpoint-up(md) {
    width: 27%;
    border-right: 1px solid darken($sidebarColor, 10)
  }
}


.sidebar-content > div {
  margin-bottom: 2rem;
  padding: .5rem;
  background : rgba(255, 255, 255, 0.5);
}

.toggle-sidebar-btn {
  display: none;
}

.sidebar-content {
  margin-top: 1rem;
}
@include media-breakpoint-down(sm) {
  .toggle-sidebar-btn {
    display: block;
  }

  .sidebar-content {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(-100%, 7rem);
    transition: transform 0.5s;
    z-index: 5;
    background: $sidebarColor;
    border-bottom: 1px solid darken($sidebarColor, 25%);
    padding: 1.5rem;
  }

  .sidebar-content--open {
    transform: translate(0, 7rem);
  }
}

.sidebar-title {
  color: $gray;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
}

.countdown-container > div:last-of-type {
  text-align: center;
}

.centered-text {
  text-align: center;
}

html, body, #app {
  height: 100%;
}

.landing-page-background {
  height: 100%;
  background-image: radial-gradient(fade-out(black, .5), fade-out(black, .1)), url('./../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 15vh;
}

.landing-page-background .home-link {
  color: $gray-lighter;
}

.weight-300 {
  font-weight: 300 !important;
}

.responsive-flex {
  display: block;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.container-component {
  margin: auto;
  position: relative;
}

.invite-url {
  background: #fff;
  padding: 2rem;
}

.price-container label {
  display: inline-block;
  margin-right: 5px;
}

.geosuggest__input {
  margin: 0.5rem auto;
  @extend .form-control
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
}

.geosuggest__input:focus {
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: 8px;
  background: #fff;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
}

.geosuggest-item:focus,
.geosuggest-item:hover {
  background: #f5f5f5;
}

.geosuggest-item--active {
  background: $brand-primary;
  color: #fff;
}

.geosuggest-item--active:focus,
.geosuggest-item--active:hover {
  background: #ccc;
}

label {
  display: block;
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}
/* Styles for the input */
div.ReactTags__tagInput input {
  @extend .form-control;
  margin: 0.5rem auto;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px 5px 0;
  border: 1px solid darken($gray-lighter, 5%);
  background: $gray-lighter;
}

div.ReactTags__selected a.ReactTags__remove {
  color: $gray-light;
  margin-left: 5px;
  cursor: pointer;
}
/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 5;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0,0,0,.2);
  background: white;
  min-width: 500px;
  padding-left: 0;
  margin: 0;
}

div.ReactTags__suggestions li {
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
  background: $gray-lightest;
  cursor: pointer;
}

.resultsmap-component .map {
  height: 270px;
  width: 100%;
}

.resultslist-component {
  padding: 0;
  list-style-type: none;
  margin: 0.5rem 2.5rem 7rem;
}

.resultslist-component > li {
  margin-bottom: 0.5rem;
}

.map-tooltip__header {
  font-weight: bold;
  font-size: 1.1rem;
}

.lead {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.start-page {
  padding: 1rem;
  margin: auto;

  p {
    color: $gray-lighter;
  }

  h2 {
    font-size: 1.8rem;
  }
  @include media-breakpoint-up(sm) {
    padding: 1rem 0 0;
    font-size: 1.6rem;
    text-align: center;

    p {
      margin: 1rem 0 2rem;
    }

    h2 {
      font-size: 2.8rem;
    }
  }
}

.start-form {
  margin-top: 2rem;
  text-align: center;
  background: #fff;
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
  }
}

.start-form .btn-group.meal-type > .btn {
  width: 50%;
}

.start-form > div {
  margin-bottom: 2.2rem;
  width: 100%;
}

.btn-secondary-darker {
  @include button-variant($gray-lighter, $body-color, $body-color);

}

.btn-secondary:focus,
.btn-secondary:hover {
  background-color: lighten($gray-lightest, 1%);
  border: 1px solid lighten($gray-lightest, 1%);
}

.home-link {
  display: block;
  padding: 0 0 0.4rem;
}

.home-link h1 {
  font-size: 1.4rem;
  @include media-breakpoint-up(md) {
    font-size: 2vw;
  }
}

.results-ranking {
  width: 50%;

  & > .btn-group {
    width: 100%;
  }

  & > .btn-group .btn {
    width: 33.3%;
  }
}

.result-card__content {
  padding: 0.8rem;
}

.result-card img {
  opacity: 0.2;
}

.result-card--active img {
  opacity: 1;
}

.select-button-container {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.stage-container {
  display: flex;
}

.stage {
  color: $gray-light;
  font-size: 0.9rem;
  display: none;
  text-align: center;
  width: 100%;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 50%;
  }

  & > h2 {
    font-size: 1.3rem;
    padding: 1.5rem 0 1rem 0.2rem;
    font-family: $font-family-sans-serif;
    border-bottom: 3px solid $gray-lightest;
    margin: 0;
  }
}

.stage--active {
  color: lighten($body-color, 5%);
  display: block;

  & > h2 {
    border-bottom: 3px solid $body-color;
    font-family: Bevan;
  }
}

.result-card__voting-buttons {
  & > button {
    width: 50%;
  }
}

.btn-group--equal-width {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.btn-group--equal-width.btn-group--single-row {
  flex-direction: row;
}

.user-progress-container {
  display: flex;

  & > div {
    margin: 0 0.2rem;
  }
}
@keyframes burst {
  0% {
    opacity: 0;
    transform: scale(.9);
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.burst-animation {
  animation: burst 2s infinite;
}

.circle-bg {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 0.4rem;
  border: 2px solid $body-color;
  text-align: center;
  font-family: Bevan;
  font-size: 1.5rem;
  margin: 0 auto 1rem;
}

.result-title {
  font-weight: bold;
}

.result-winner {
  font-size: 1.1rem;
  margin: 2rem 0;
  text-align: center;

  .result-card__content {
    flex-direction: column;
  }
}

.result-winner .result-title > a {
  font-family: Bevan;
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem;
}

.result-directions {
  float: right;
  text-align: right;
}

.result-winner .result-directions {
  float: none;
  text-align: center;
}

.result-votes {
  border-top: 1px solid $gray-lighter;
  display: flex;

  & > div {
    padding: 0.5rem;
  }

  & > div:first-of-type {
    background-color: $gray-lightest;
  }
}

.result-card__img {
  margin-right: 1rem;
  width: 90px;
  height: 90px;
}

.result-winner .result-card__img,
.result-winner .winner-hide {
  display: none;
}

.winner-img {
  display: none;
}

.result-winner .winner-img {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.result-price {
  display: inline-block;
  margin: 0 1rem;
}

.centered-flex {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.url-to-copy {
  padding: 0.4rem 0.5rem;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  background: #fff;
  text-align: center;
  border: 1px solid $gray-lighter;
}

footer {
  background: #f9f9f9;
  padding: 2rem;
  margin: 1rem -2.5rem -2.5rem;
  display: flex;
}

.table td,
.table th {
  border-top: none;
}

.table thead th {
    border-bottom: 2px solid $body-color;
}
