@import "./variable_overrides";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
}

fieldset {
  border: none;
  margin-top: 1rem;
}

legend {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0 !important;
}

label {
  margin-bottom: 0 !important;
}

button:focus {
  outline: 2px dotted fade-out($brand-primary, .5) !important;
  outline: none !important;
}

mark {
  padding: 0;
}

.centered {
  display: block;
  margin: auto;
}

.plain-header {
  font-family: $font-family-sans-serif;
}
//used for layout on multiple pages
.centered-component {
  max-width: 500px;
  margin: 2rem auto;
  width: 100%;
}

.content-container {
  min-height: calc(100vh - 200px);
  overflow: hidden;
}

.centered-text {
  text-align: center;
}

body.landing-page-background {
  background-image: radial-gradient(fade-out(black, .4), fade-out(black, .05)), url('./../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.landing-page-background .home-link {
  color: $gray-lighter;
  -webkit-font-smoothing: antialiased;
}

.weight-300 {
  font-weight: 300 !important;
}

.responsive-flex {
  display: block;
  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.btn-active-secondary {
  color: $brand-primary;
  font-weight: bold;
  background: $gray-lighter;
}

.container-component {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  position: relative;
}

.invite-url {
  margin-top: 10vh;
  overflow-x: auto;
}

.price-container label {
  display: inline-block;
  margin-right: 5px;
}

.geosuggest__input {
  margin: 0.5rem auto;
  @extend .form-control
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
}

.geosuggest__input:focus {
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: 8px;
  background: #fff;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
}

.geosuggest-item:focus,
.geosuggest-item:hover {
  background: #f5f5f5;
}

.geosuggest-item--active {
  background: $brand-primary;
  color: #fff;
}

.geosuggest-item--active:focus,
.geosuggest-item--active:hover {
  background: #ccc;
}

label {
  display: block;
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}
/* Styles for the input */
div.ReactTags__tagInput input {
  @extend .form-control;
  margin: 0.5rem auto;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px 5px 0;
  border: 1px solid darken($gray-lighter, 5%);
  background: $gray-lighter;
}

div.ReactTags__selected a.ReactTags__remove {
  color: $gray-light;
  margin-left: 5px;
  cursor: pointer;
}
/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 2;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0,0,0,.2);
  background: white;
  min-width: 500px;
  padding-left: 0;
  margin: 0;
}

div.ReactTags__suggestions li {
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
  background: $gray-lightest;
  cursor: pointer;
}

.results-container {
  @extend .responsive-flex;
}

.results-container > * {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.results-container--left-child {
  @include media-breakpoint-up(md) {
    margin-right: 1rem;
  }
}

.resultsmap-component .map {
  height: 534px;
  width: 100%;
}

.resultslist-component {
  max-height: 500px;
  overflow: auto;
  padding: 0;
  list-style-type: none;
}

.resultslist-component > li {
  margin-bottom: 1rem;
}

.map-tooltip__header {
  font-weight: bold;
  font-size: 1.1rem;
}

.lead {
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
}

.start-page {
  color: $gray-lighter;
  padding: 1rem;
  margin: auto;
  h2 {
    font-size: 1.8rem;
  }
  @include media-breakpoint-up(sm) {
    padding: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
    p {
      margin: 1rem 0 2rem 0;
    }
    h2 {
      font-size: 2.8rem;
    }
  }
}

.start-form {
  margin-top: 3rem;
  text-align: center;

  h2 {
    color: $gray-lighter;
    margin-bottom: 2rem;
    -webkit-font-smoothing: antialiased;
  }
}

.start-form .btn-group.meal-type > .btn {
  width: 50%;
}

.start-form > div {
  margin-bottom: 2.2rem;
  width: 100%;
}

footer {
  text-align: right;
}

.btn-secondary-darker {
  @include button-variant(darken($body-color, 20%), darken($btn-secondary-bg, 18%), darken($btn-secondary-border, 18%));
  z-index: 1;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: lighten($gray-lightest, 1%);
  border: 1px solid lighten($gray-lightest, 1%);
}

.home-link {
  color: $body-color;
  display: block;
  margin: 0 0 1rem 0;
}

.home-link h1 {
  font-size: 1.1rem;
  margin: 0;
}

.results-ranking {
  width: 50%;

  & > .btn-group {
    width: 100%;
  }

  & > .btn-group .btn {
    width: 33.3%;
  }
}

.result-card__content {
  padding: 0.8rem;
}

.result-card img {
  opacity: 0.2;
}

.result-card--active img {
  opacity: 1;
}

.select-button-container {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.stage-container {
  display: flex;
  margin-bottom: 1rem;
}

.stage {
  flex-grow: 1;
  padding: 0.4rem 1.5rem .4rem 0;
  color: $gray-light;
  font-size: 0.9rem;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }


  & > h2 {
    font-size: 1.3rem;
    padding-bottom: .4rem;
    padding-left: .2rem;
    font-family: $font-family-sans-serif;
    border-bottom: 2px solid $gray-lightest;
  }
}

.stage--active {
  color: lighten($body-color, 5%);
  display: block;

  & > h2 {
    border-bottom: 2px solid lighten($brand-primary, 5%);
    font-family : Bevan;
  }
}

.result-card__voting-buttons {
  & > button {
    width: 50%;
  }
}

.btn-group--equal-width {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.btn-group--equal-width.btn-group--single-row {
    flex-direction: row;
}

.user-progress-container {
  display: flex;
  & > div {
    margin: 0 0.2rem;
  }
}
